* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    padding: 0 1rem 0 1rem;
    width: 100%;
    height: 5rem;
    background-color: #e5b2af;
}

nav {
    display: flex;
}

.lado1 {
    width: 50%;
    display: flex;
}

.logo img {
    width: 7rem;
    height: 5rem;
    padding-right: 10px;
}

.logo_nome {
    padding-top: 5px;
}

.qtd_itens {
    font-weight: 600;
}

.lado2 {
    width: 50%;
    display: flex;
    justify-content: end;
    padding-right: 1rem;
}

.lado2 a {
    padding-left: 20px;
    text-decoration: none;
    color: black;
}

main {
    padding: 0 1rem 0 1rem;
    padding-top: 20px;
}

.descricao {
    padding: 0 200px 0 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.produto {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 40px;
    align-items: center;
}

.produto span {
    display: flex;
}

footer {
    display: flex;
    background-color: #f5f5f5;
    height: 83px;
    justify-content: space-around;
    align-items: center;
    background-color: #e5b2af;
}

.total {
    display: flex;
}

.total h5 {
    padding-left: 20px;
}

.mais {
    border: 1px solid green;
    width: 25px;
    height: 25px;
    background-color: green;
    border-radius: 2px;
}

.mais:hover {
    background-color: rgb(2, 82, 2);
}

.mais svg path {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.menos {
    border: 1px solid #f00000;
    width: 25px;
    height: 25px;
    background-color: #f00000;
    border-radius: 2px;
}

.menos:hover {
    background-color: #b60000;
}

.menos svg path {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.quantidade {
    font-size: 20px;
    padding: 0 30px 0 30px;
}

.btn_deletar {
    border: none;
    background-color: white;
    font-size: 40px;
}