* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    padding: 0 1rem 0 1rem;
    width: 100%;
    height: 5.5rem;
    background-color: #e5b2af;
}

nav {
    display: flex;
    align-items: center;
}

.lado1 {
    width: 50%;
    display: flex;
}

.logo img {
    width: 7rem;
    height: 5rem;
    padding-right: 10px;
}

.logo_nome {
    font-family: "Dancing Script", cursive;
    font-size: 25px;
    font-weight: bold;
    padding-top: 5px;
}

.qtd_itens {
    font-weight: 600;
}

.lado2 {
    width: 50%;
    display: flex;
    justify-content: end;
    padding-right: 1rem;
}

.lado2 a {
    padding-left: 20px;
    text-decoration: none;
    color: black;
}

main {
    padding: 0 1rem 0 1rem;
    padding-top: 20px;
}

.descricao {
    padding: 0 200px 0 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.produto {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.produto span.qtd {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 120px 0 115px;
}

.produto img {
    width: 8rem;
    height: 8rem;
    margin-right: 110px;
}

.descricao_img {
    display: flex;
    flex-direction: column;
    width: 250px;
}

footer {
    background-color: #e5b2af;
    display: flex;
    padding-bottom: 15px;
    justify-content: space-around;
    position: fixed;
    align-items: center;
    height: 90px;
    width: 100%;
}

.continuarPedido {
    display: flex;
    justify-content: space-around;
    position: fixed;
    height: auto;
    width: 100%;
    position: fixed;
    bottom: 75px;
}

.total {
    display: flex;
}

.total h5 {
    padding-left: 20px;
}

.mais {
    border: none;
    width: 25px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
}

.mais svg path {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
}

.menos {
    width: 25px;
    height: 25px;
    border-radius: 2px;
    border: none;
    background-color: white;
}

.menos svg path {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
}

.quantidade {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    padding-top: 12px;
}

.btn_deletar {
    border: none;
    background-color: white;
}

.btn_deletar svg path {
    color: #f00000;
    font-weight: bolder;
}

.preco-produto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 80px;

    & span {
        padding-left: 5px;
    }
}

.preco-total {
    display: flex;
    height: 80px;
    width: 180px;
    align-items: center;
    justify-content: center;
    margin-right: 80px;

    & span {
        padding-left: 5px;
        width: 100px;
    }
}

.valorSubtotal {
    width: 180px;
}